PORT=8000

JWT_SECRET=m7uah9NZsAXlZ/uKiMyzvPL6XJmnxFyR2jr/M4dOAFY=
JWT_EXPIRES_IN=30s
REFRESH_JWT_SECRET=JoDpot4aMrtCrtj/qGRmwCQu1m76SlSLnCSCnFJ8eMI=
REFRESH_JWT_EXPIRES_IN=7d

FRONTEND_ORIGIN=http://localhost:5173

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GOOGLE_CALLBACK_URL=http://localhost:8000/v1/auth/google/callback
